.tableHeadCell {
  color: var(--primary-light) !important;
  font-size: 18px !important;
  font-family: var(--ff-bold) !important;
}
.tableDataCell {
  font-size: 14px !important;
  font-family: var(--ff-medium) !important;
}
