@import "../../index.scss";

.flex-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  width: 100%;
  height: 10vh;
  background-image: $bg-header;
  @extend .flex-box;
  .container {
    width: 80%;
    margin: 0 auto;
    @extend .flex-box;
    justify-content: space-between;

    .logo {
      @extend .flex-box;

      img {
        width: 40px;
        height: 40px;
        animation: animatelogo 0.5s linear;
      }
      .logoName {
        padding-left: 10px;
        p:nth-child(1) {
          font-size: 1.2rem;
          font-weight: 600;
        }
        p:nth-child(2) {
          font-size: 0.9rem;
          font-weight: 500;
        }
      }
      &:hover {
        cursor: pointer;
      }
    }

    @keyframes animatelogo {
      0% {
        transform: translateX(-200%);
      }
      50% {
        transform: translateX(40%);
      }
      90% {
        transform: translateX(-40%);
      }
      100% {
        transform: translateX(0);
      }
    }

    .navbar {
      width: 40%;
      ul {
        @extend .flex-box;
        justify-content: space-between;
        li {
          list-style: none;
          a {
            text-decoration: none;
            color: white;
            font-size: 1.2rem;
            padding: 5px 10px;

            &:hover {
              color: black;
              background-color: white;
              border-radius: 3px;
            }
          }
          .active {
            background-color: white;
            border-radius: 3px;
            color: black;
          }
        }
      }
    }
  }
}

@media (max-width: 780px) {
  .wrapper {
    height: 7vh;
    .container {
      width: 100%;
      padding: 0 10px;
      .logo {
        width: 100%;
        justify-content: space-between;
        img {
          width: 30px;
          height: 30px;
        }
        .logoName {
          padding-left: 0;
          p:nth-child(1) {
            font-size: 1rem;
          }
          p:nth-child(2) {
            font-size: 0.7rem;
          }
        }
      }
      .navbar {
        display: none;
      }
    }
  }
}
