@import "../../index.scss";

.wrapper {
  width: 100%;
  min-height: 90vh;
  background-image: $bg-linear;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 80%;
  margin: 0 auto;

  .successMsg {
    font-size: 1.2rem;
    color: #4bb543;
    width: fit-content;
    margin: 0 auto;
    padding-bottom: 10px;
  }

  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    h3 {
      font-size: 2rem;
      padding: 20px 0;
    }

    p {
      width: 50%;
      font-size: 1rem;
      line-height: 1.5;
      text-align: center;
    }
  }

  .contact {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
    .form {
      form {
        width: 500px;
        div {
          display: flex;
          justify-content: center;
          flex-direction: column;
          margin: 10px 0;

          div:nth-child(3) {
            margin-bottom: 0px;
          }

          label {
            font-size: 1.2rem;
            padding-bottom: 5px;
          }

          input {
            height: 40px;
            border: none;
            outline: none;
            padding: 10px;
            font-size: 1rem;
            border-radius: 3px;
            &:focus {
              border: 2px solid #34a0a4;
            }
          }

          textarea {
            height: 130px;
            border: none;
            outline: none;
            padding: 10px;
            font-size: 1.2rem;
            border-radius: 3px;
            &:focus {
              border: 2px solid #34a0a4;
            }
          }

          button {
            width: 50%;
            font-size: 1.1rem;
            border: 2px solid #34a0a4;
            outline: none;
            border-radius: 8px;
            padding: 10px;
            background-color: transparent;
            color: white;
            transition: 0.3s ease-in-out;
            &:hover {
              cursor: pointer;
              background-color: #34a0a4;
            }
          }
        }
      }

      .errorMsg {
        color: #e71d36;
        font-size: 0.9rem;
      }
    }
    .socialmedia {
      animation: animate 0.5s linear;
      h3 {
        font-size: 1.5rem;
      }
      li {
        list-style: none;
        padding: 10px 0;

        i {
          font-size: 1.2rem;
          padding-right: 20px;
        }
      }

      a {
        text-decoration: none;
        color: white;
        font-size: 1rem;
      }
    }

    @keyframes animate {
      from {
        transform: translateY(10%);
        opacity: 0;
      }
      to {
        transform: translateY(0);
        opacity: 1;
      }
    }
  }
}

@media (max-width: 780px) {
  .wrapper {
    background-image: none;
    background-color: white;
    color: black;
  }
  .container {
    margin-top: 40px;
    width: 100%;
    padding: 0 10px;

    .successMsg {
      font-size: 1rem;
      color: #4bb543;
      font-weight: 500;
      padding-bottom: 5px;
    }
    .header {
      h3 {
        font-size: 1.4rem;
        padding: 0px 0px 20px 0px;
      }
      p {
        font-size: 1rem;
        line-height: 1.5;
        width: 100%;
      }
    }

    .contact {
      flex-direction: column;
      margin-top: 20px;
      .form {
        form {
          width: 100%;
          div {
            label {
              font-size: 1rem;
            }
            input {
              border: 2px solid $primary-clr;
            }
            textarea {
              border: 2px solid $primary-clr;
              font-size: 1.05rem;
            }
            button {
              width: 31%;
              font-size: 0.8rem;
              padding: 6px 5px;
              color: black;
              border: 2px solid $primary-clr;
              &:hover {
                color: white;
                background-color: $primary-clr;
              }
            }
          }
        }
      }

      .socialmedia {
        margin: 20px 0;
        animation: none;
        h2 {
          font-size: 1.4rem;
          padding: 10px 0;
        }
        li {
          padding: 5px 0;

          i {
            font-size: 1rem;
            padding-right: 10px;
          }
        }

        a {
          text-decoration: none;
          color: black;
          font-size: 1rem;
        }
      }
    }
  }
}
