@import "../../index.scss";

.wrapper {
  min-height: (100vh-10vh);
  width: 100%;
  background-image: $bg-linear;
  display: flex;
  justify-content: center;
  align-items: center;
  .container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .introduction {
    padding-right: 30px;

    h1 {
      margin-bottom: 15px;
      font-size: 3rem;
    }
    p {
      font-size: 1.4rem;
      line-height: 1.5;
    }
    span {
      font-size: 1.2rem;
    }
    p:nth-child(3) {
      padding-top: 10px;
      font-size: 1.1rem;
    }
  }

  .imgContainer {
    animation: animateAvatar 0.5s linear;

    @keyframes animateAvatar {
      0% {
        transform: translateY(-200%);
      }
      50% {
        transform: translateY(50%);
      }
      80% {
        transform: translateY(-50%);
      }
      90% {
        transform: translateY(-20%);
      }
      95% {
        transform: translateY(-10%);
      }
      100% {
        transform: translateY(0);
      }
    }
  }

  .avatar {
    width: 400px;
    height: 400px;
    background-image: $bg-avatar;
    border-radius: 50%;
  }
}

@media (max-width: 780px) {
  .wrapper {
    min-height: (100vh-7vh);
    .container {
      width: 100%;
      padding: 0 10px;

      height: 60vh;
      flex-direction: column-reverse;
      justify-content: space-around;
    }
    .introduction {
      padding-right: 0;
      h1 {
        font-size: 1.5rem;
        text-align: center;
      }
      p {
        font-size: 1.05rem;
        text-align: center;
      }
      span {
        font-size: 0.8rem;
      }
      p:nth-child(3) {
        padding-top: 2px;
        font-size: 0.8rem;
      }
    }
    .imgContainer {
      @keyframes animateAvatar {
        0% {
          transform: translateY(-200%);
        }
        50% {
          transform: translateY(30%);
        }
        80% {
          transform: translateY(-50%);
        }
        90% {
          transform: translateY(-20%);
        }
        95% {
          transform: translateY(-10%);
        }
        100% {
          transform: translateY(0);
        }
      }
    }
    .avatar {
      width: 200px;
      height: 200px;
      border-radius: 50% 0;
    }
  }
}
