@import "../../index.scss";

.wrapper {
  min-height: (100vh-10vh);
  width: 100%;
  background-image: $bg-linear;
  display: flex;
  justify-content: center;
  align-items: center;
  .container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .introduction {
    padding-right: 30px;
    -webkit-animation: animateContent 0.5s ease-in-out;
    animation: animateContent 0.5s ease-in-out;

    h1 {
      margin-bottom: 15px;
      font-size: 4rem;
    }
    p {
      font-size: 2rem;
    }
    p:nth-child(3) {
      padding-top: 10px;
      font-size: 1.5rem;
    }
    @-webkit-keyframes animateContent {
      0% {
        -webkit-transform: translateX(-200%);
      }
      100% {
        -webkit-transform: translateX(0);
      }
    }
    @keyframes animateContent {
      0% {
        transform: translateX(-200%);
      }
      100% {
        transform: translateX(0);
      }
    }
  }

  .imgContainer {
    -webkit-animation: animateAvatar 0.5s ease-in-out;
    animation: animateAvatar 0.5s ease-in-out;
    @-webkit-keyframes animateAvatar {
      0% {
        -webkit-transform: translateY(-200%);
      }
      100% {
        -webkit-transform: translateY(0);
      }
    }
    @keyframes animateAvatar {
      0% {
        transform: translateY(-200%);
      }
      100% {
        transform: translateY(0);
      }
    }
  }

  .avatar {
    width: 400px;
    height: 400px;
    background-image: $bg-avatar;
    border-radius: 50%;
  }
}

@media (max-width: 780px) {
  .wrapper {
    min-height: (100vh-7vh);
    .container {
      height: 60vh;
      flex-direction: column-reverse;
      justify-content: space-around;
    }
    .introduction {
      padding-right: 0;
      animation: none;
      h1 {
        margin-bottom: 3px;
        font-size: 2rem;
        text-align: center;
      }
      p {
        font-size: 1.05rem;
        line-height: 1.4;
        text-align: center;
      }
      p:nth-child(3) {
        padding-top: 2px;
        font-size: 0.85rem;
      }
    }
    .imgContainer {
      animation: none;
    }
    .avatar {
      width: 200px;
      height: 200px;
      border-radius: 50% 0;
    }
  }
}
