@import "../../index.scss";

// Extend sass
.header-style{
    font-weight: 500;
    padding-bottom: 10px;
    color: #4e4376;
}

.wrapper {
    text-align: center;
    width: 100%;
    background-image: $bg-linear;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 40px 0;
}

.title {

    p {
        font-weight: 600;
        padding: 10px 0;
        font-size: 2rem;
        line-height: 1.4;
    }

    img{
        -webkit-animation: animate .5s ease-in-out;
        animation: animate .5s ease-in-out;
    }

    @-webkit-keyframes animate {
        0% {
            -webkit-transform: translateY(-200%);
        }
        90% {
            -webkit-transform: translateY(5%);
        }
        100% {
            -webkit-transform: translateY(0);
        }
    }

    @keyframes animate {
        0% {
            transform: translateY(-200%);
        }
        90% {
            transform: translateY(5%);
        }
        100% {
            transform: translateY(0);
        }
    }
}
.about {
    font-size: 1.5rem;
    word-spacing: 5px;
    p{
        padding: 10px 0;
        line-height: 1.4;
    }
    margin-bottom: 40px;
}
.skillsContainer {

    width: 90%;
    height: 700px;
    margin: 0 auto;
    background-color: white;
    border-radius: 8px;
    color: black;
    display: flex;
    justify-content: space-between;

    .icon{
        font-size: 3rem;
        margin: 30px 10px;
        color: #4e4376;
    }

    .skills{
        margin: 10px;
        h3{
            padding: 20px;
            color: #4e4376;
        }
        p {
            font-size: 1.2rem;
        }
    }

    .tech {
        margin: 50px 10px;
        p{
            font-size: 1.2rem;
        }
        p:nth-child(1){
            @extend .header-style;
        }
    }

    .tools {
        p:nth-child(1){
            @extend .header-style;
        }
        p{
            font-size: 1.2rem;
            padding: 5px;
        }
    }

    hr{
        opacity: .2;
    }

}

@media (max-width:780px){


    .container {
        padding: 20px 0px;
    }
    .title {
        p {
            font-weight: 500;
            padding-bottom: 0px;
            font-size: 1.3rem;
            line-height: 1.4;
        }
    
        img {
            width: 300px;
            height: 150px;
            animation: none;
        }
    }
    .about {
        font-size: 1.05rem;
        word-spacing: 0px;
        p{
            padding: 7px 0;
            line-height: 1.4;
            // text-align: left;
        }
        margin-bottom: 40px;
    }

    .skillsContainer {
        width: 100%;
        height: 100%;
        flex-direction: column;
        .icon{
            font-size: 2rem;
            margin: 10px 0px;
        }
    
        .skills{
            margin-bottom: 10px;
            h3{
                padding: 10px;
            }
            p {
                font-size: 1rem;
            }
        }
    
        .tech {
            margin: 30px 0px;
            p{
                font-size: 1rem;
            }
            p:nth-child(1){
                font-weight: 500;
                font-size: 1.1rem;
                padding-bottom: 10px;
            }
        }
    
        .tools {
            p:nth-child(1){
                font-weight: 500;
                font-size: 1.1rem;
                padding-bottom: 10px;
            }
            p{
                font-size: 1rem;
                padding: 5px;
            }
        }
    }
}