:root {
  --ff-regular: "Inter_18pt-Regular";
  --ff-medium: "Inter_18pt-Medium";
  --ff-semibold: "Inter_18pt-SemiBold";
  --ff-bold: "Inter_18pt-Bold";
  --white: #f1f5f9;
  --danger: #f44336;
  --danger_hover: #da190b;

  /* Light Mode */
  --light_bg_color: #f5f7fa;
  --light_primary_text_color: #1a1a1a;
  --light_secondary_text_color: #5c6672;
  --light_accent_color: #2563eb;
  --light_accent_hover_color: #1d4ed8;
  --light_border_color: #e2e8f0;
  --light_card_bg_color: #ffffff;
  --light_tag_bg_color: #e0f2fe;

  /* Dark Mode */
  --dark_bg_color: #0f172a;
  --dark_primary_text_color: #f1f5f9;
  --dark_secondary_text_color: #94a3b8;
  --dark_accent_color: #38bdf8;
  --dark_accent_hover_color: #0ea5e9;
  --dark_border_color: #1e293b;
  --dark_card_bg_color: #1e293b;
  --dark_tag_bg_color: #1e40af;
}

body {
  margin: 0;
  font-family: var(--ff-medium);
  color: var(--light_primary_text_color);
  @font-face {
    font-family: "Inter_18pt-Regular";
    src: url("./assets/fonts/Inter_18pt-Regular.ttf") format("trueType");
    font-weight: 400;
  }
  @font-face {
    font-family: "Inter_18pt-Medium";
    src: url("./assets/fonts/Inter_18pt-Medium.ttf") format("trueType");
    font-weight: 500;
  }
  @font-face {
    font-family: "Inter_18pt-SemiBold";
    src: url("./assets/fonts/Inter_18pt-SemiBold.ttf") format("trueType");
    font-weight: 600;
  }
  @font-face {
    font-family: "Inter_18pt-Bold";
    src: url("./assets/fonts/Inter_18pt-Bold.ttf") format("trueType");
    font-weight: 700;
  }
}
