//* VARIABLES
$myFont: "Quicksand", sans-serif;
$primary-clr: #4e4376;
$bg-black: #161a1d;
$bg-linear: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%);
$bg-header: linear-gradient(-20deg, #2b5876 -100%, #4e4376 100%);
$bg-avatar: linear-gradient(180deg, #2b5876 0%, #4e4376 100%);

//* UNIVERSAL SELECTOR
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $myFont;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
